
nombre
{{input value=test.nombre}}
fecha
{{input type='datetime-local' value=test.fecha}}

Pregunta
{{input value=test.question.nombre}}

Opciones

{{input value=test.question.option }}
{{input value=test.question.option }}
{{input value=test.question.option }}
{{input value=test.question.option }}


<button {{action 'save'}}>Guardar</button>